$purple: rgb(95, 66, 255) !important;

.main {
    font-family: 'Nunito', sans-serif;

    &__top {
        display: flex;
        flex-direction: column;
        transition: 300ms ease-out;

        &__welcome-text-hide {
            display: none;
        }

        &__blue {
            padding-bottom: 24px;
        }

        &__red {
            background-color: #3c0207;
            padding-bottom: 24px;
        }

        &__purple {
            background-color: #31023c;
            padding-bottom: 24px;
        }
    }

    &__content {
        max-width: 1600px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-right: 16px;
        padding-left: 16px;
        display: inherit;
    }
};

.btn {
    &-purple {
        color: white !important;
        background-color: $purple;
    }

    &-outline-purple {
        color: $purple;
        border-color: $purple;
    }

    &-outline-purple:hover {
        color: white !important;
        background-color: $purple;
        border-color: $purple;
        box-shadow: 0 0.25rem 0.5rem $purple !important;
    }
}

.bg-purple {
    background-color: $purple;
}

.alert {
    &-purple {
        background-color: rgb(95, 66, 255) !important;
    }
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: $purple;
    outline: 0;
    box-shadow: 0 0 0 0.1rem $purple;
}

.dropdown-item.active, .dropdown-item:active {
    text-decoration: none;
    background-color: $purple;
}

.custom-select:focus {
    border-color: $purple;
    outline: 0;
    box-shadow: 0 0 0 0.1rem $purple;
}

#loginModal {
    background: rgba(0, 0, 0, 0.5)
}

#registerModal {
    background: rgba(0, 0, 0, 0.5)
}
